.info {
  font-weight: 600;
  line-height: 20px;
  font-size: 17px;
  color: $color-gris;
}

.texto-o {
  font-size: 13px;
  color: $color-gris;
  font-weight: 600;
}

.terms {
  line-height: 18px;
  font-size: 14px;
  color: $color-gris;
}
